* {
  box-sizing: border-box;
}

.app-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  background: rgb(215, 224, 233);
  margin: 0;
  padding-right: 2rem;
  list-style: none;
}

.app-nav li {
  margin-left: 5rem;
}

.app-nav a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: rgba(57,187,250,1);
}
.active {
  border-bottom: 1px solid red;
  padding-bottom: 3px;
}
